.d-flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.d-flex > * {
  flex: 1;
}

.upload-input-container {
  min-width: 50%;
  margin-inline: auto;
}

.actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.img-container {
  margin-top: 2rem;
  width: max-content;
  margin-inline: auto;
}

.highlight {
  background-color: #FFF9C4;
}

/* sm */
@media (min-width: 640px) {
  .upload-input-container {
    width: 50%;
  }
}
