<div class="container">
  <h1>Upload to S3</h1>

  <div class="d-flex">
    <div class="upload-input-container">
      <p-fileupload name="file" url="http://localhost:8080/api/v1/file" (onUpload)="onUpload($event)" accept="image/*"
        maxFileSize="1000000" mode="advanced" [showCancelButton]="false">
      </p-fileupload>
    </div>
    <div>
      @if (fileService.files$ | async; as data ) {
        <div class="card">
          <p-table [value]="data.files" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
            [rowsPerPageOptions]="[5, 10, 20]" [lazy]="true" (onLazyLoad)="changePage($event)" [lazyLoadOnInit]="false"
            [totalRecords]="data.pageData.totalElements">
            <ng-template #header>
              <tr>
                <th style="width: 70%;">Original Filename</th>
                <th style="width: 15%;">Content Type</th>
                <th style="width: 15%;">Action</th>
              </tr>
            </ng-template>
            <ng-template #body [appTableRow]="data.files" let-file>
              <tr [class.highlight]="url == file.url">
                <td>{{ file.originalFilename }}</td>
                <td>{{ file.contentType }}</td>
                <td>
                  <div class="actions">
                    <a [href]="file.url" target="_blank" rel="noopener noreferrer" class="p-button font-bold">
                      Download
                    </a>
                    <p-button label="View" icon="pi pi-eye" iconPos="right" (onClick)="viewFile(file)" />
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      }

      @if (file) {
        <div class="img-container">
          <p-image class="img" [src]="file.url" alt="Image" width="250" [preview]="true" />
        </div>
      }
    </div>
  </div>
</div>
<p-toast />